.footer {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  color: var(--black);
  font-size: var(--title-fs);
  font-weight: var(--bold-weight);
  transition: var(--default-delay);
}
.dark-footer {
  background-color: var(--black);
  color: var(--grey);
  transition: var(--default-delay);
}
