.header {
  position: relative;
  padding: 2rem;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  color: var(--black);
  font-size: var(--title-fs);
  font-weight: var(--bold-weight);
}

.dark-header {
  background-color: var(--black);
  color: var(--grey);
  transition: var(--default-delay);
}
.switch {
  position: absolute;
  right: 2rem;
  opacity: 1;
  :deep() {
    .v-switch__track {
      background-color: var(--black);
    }
    .v-label {
      color: var(--black);
      opacity: 1;
    }
  }
}
.dark-switch {
  :deep() {
    .v-switch__track {
      background-color: var(--black);
    }
    .v-label {
      color: var(--grey);
    }
  }
}
